body{
    background: #5CA2C6;
    height: 100vh;
    display: grid;
    place-items: center;//palce everything h & v centered

}

.container{
    display: flex;
    justify-content: center;
    position: relative;
}

.head{
    width:300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid black; 
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

//psudo selector
.head::before{
    content:"";
    position: absolute;
    width:300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: inset -22px 5px 0 3px rgba(0,0,0,.2);//color is black with 20% opacity
}

.head::after{
    content:"";
    position: absolute;
    width:15px;
    height: 30px;
    background: white;
    margin-top: 300px;
    border: 10px solid black; 

}

.eye{
    background: black;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    position: absolute;
    display:flex; 
    justify-content: center;
    align-items: center;
}

.left{
    margin-left: -180px;
}

.right{
    margin-left: 180px;
}

.eye::before{ 
    content:"";
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: inset -22px 5px 0 3px rgba(255,255,255,.164);//color is black with 20% opacity


}

.eye::after{ 
    content:"";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;

}

.right::after{
    width:30px;
    height: 30px;
    background: transparent;
    border: 5px solid white; 
}

.cutout{
    position: absolute;
    width:100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}