body {
  background: rgba(249, 248, 248, 0.837);
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.ball {
  border-right: 1px solid #c14c17;
  width: 320px;
  height: 300px;
  border-radius: 48%;
  background: #e25919;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-shadow: inset -8px -8px 70px -20px #a73c0b, inset 30px 30px 74px -26px #ffb38f;
          box-shadow: inset -8px -8px 70px -20px #a73c0b, inset 30px 30px 74px -26px #ffb38f;
}

.ball::after {
  border-radius: 50%;
  position: absolute;
  border-right: 15px solid #54801e;
  top: -60px;
  right: 102px;
  content: "";
  width: 15px;
  height: 90px;
  background: #4b711b;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.stick {
  position: absolute;
  top: -40px;
  left: 107px;
  border-radius: 30%;
  height: 70px;
  width: 50px;
  border-right: 12px solid #4b711b;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 88%);
          clip-path: polygon(0 0, 100% 0, 100% 87%, 0 88%);
}

.dot {
  background: #4b711b;
  width: 40px;
  height: 25px;
  border-radius: 70%;
  position: absolute;
  top: 6px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-box-shadow: inset -8px -8px 9px -5px #e6642a, inset 8px 8px 9px -5px #ef855a;
          box-shadow: inset -8px -8px 9px -5px #e6642a, inset 8px 8px 9px -5px #ef855a;
}

.frakles {
  position: absolute;
  top: 150px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  -webkit-box-shadow: -20px -20px 0 0 #a24a213a, -35px -30px 0 0 #a24a213a, -90px -50px 0 0 #a24a213a, -79px -30px 0 0 #a24a213a, -90px -20px 0 0 #a24a213a, -100px -110px 0 0 #a24a213a, -20px -30px 0 0 #a24a213a, -30px -40px 0 0 #a24a213a, -40px -10px 0 0 #a24a213a, -50px -90px 0 0 #a24a213a, -10px -120px 0 0 #a24a213a, -20px -40px 0 0 #a24a213a, -75px -30px 0 0 #a24a213a, -93px -70px 0 0 #a24a213a, -85px -90px 0 0 #a24a213a, -100px -120px 0 0 #a24a213a, -70px 20px 0 0 #a24a213a, -35px 30px 0 0 #a24a213a, -20px 50px 0 0 #a24a213a, -79px 30px 0 0 #a24a213a, -90px 20px 0 0 #a24a213a, -100px 110px 0 0 #a24a213a, -60px 30px 0 0 #a24a213a, -30px 40px 0 0 #a24a213a, -90px 10px 0 0 #a24a213a, -50px 90px 0 0 #a24a213a, -70px 100px 0 0 #a24a213a, -20px 40px 0 0 #a24a213a, -75px 60px 0 0 #a24a213a, -53px 90px 0 0 #a24a213a, -45px 90px 0 0 #a24a213a, -100px 100px 0 0 #a24a213a, -70px 20px 0 0 #a24a213a, -95px 30px 0 0 #a24a213a, -120px 50px 0 0 #a24a213a, -99px 30px 0 0 #a24a213a, -1200px 20px 0 0 #a24a213a, -90px 110px 0 0 #a24a213a, -140px 30px 0 0 #a24a213a, -135px 40px 0 0 #a24a213a, -123px 10px 0 0 #a24a213a, -100px 90px 0 0 #a24a213a, -120px 100px 0 0 #a24a213a, -120px -20px 0 0 #a24a213a, -95px -30px 0 0 #a24a213a, -90px -50px 0 0 #a24a213a, -100px -30px 0 0 #a24a213a, -100px -20px 0 0 #a24a213a, -90px -110px 0 0 #a24a213a, -140px -30px 0 0 #a24a213a, -135px -40px 0 0 #a24a213a, -123px -10px 0 0 #a24a213a, -120px -90px 0 0 #a24a213a, -120px -100px 0 0 #a24a213a;
          box-shadow: -20px -20px 0 0 #a24a213a, -35px -30px 0 0 #a24a213a, -90px -50px 0 0 #a24a213a, -79px -30px 0 0 #a24a213a, -90px -20px 0 0 #a24a213a, -100px -110px 0 0 #a24a213a, -20px -30px 0 0 #a24a213a, -30px -40px 0 0 #a24a213a, -40px -10px 0 0 #a24a213a, -50px -90px 0 0 #a24a213a, -10px -120px 0 0 #a24a213a, -20px -40px 0 0 #a24a213a, -75px -30px 0 0 #a24a213a, -93px -70px 0 0 #a24a213a, -85px -90px 0 0 #a24a213a, -100px -120px 0 0 #a24a213a, -70px 20px 0 0 #a24a213a, -35px 30px 0 0 #a24a213a, -20px 50px 0 0 #a24a213a, -79px 30px 0 0 #a24a213a, -90px 20px 0 0 #a24a213a, -100px 110px 0 0 #a24a213a, -60px 30px 0 0 #a24a213a, -30px 40px 0 0 #a24a213a, -90px 10px 0 0 #a24a213a, -50px 90px 0 0 #a24a213a, -70px 100px 0 0 #a24a213a, -20px 40px 0 0 #a24a213a, -75px 60px 0 0 #a24a213a, -53px 90px 0 0 #a24a213a, -45px 90px 0 0 #a24a213a, -100px 100px 0 0 #a24a213a, -70px 20px 0 0 #a24a213a, -95px 30px 0 0 #a24a213a, -120px 50px 0 0 #a24a213a, -99px 30px 0 0 #a24a213a, -1200px 20px 0 0 #a24a213a, -90px 110px 0 0 #a24a213a, -140px 30px 0 0 #a24a213a, -135px 40px 0 0 #a24a213a, -123px 10px 0 0 #a24a213a, -100px 90px 0 0 #a24a213a, -120px 100px 0 0 #a24a213a, -120px -20px 0 0 #a24a213a, -95px -30px 0 0 #a24a213a, -90px -50px 0 0 #a24a213a, -100px -30px 0 0 #a24a213a, -100px -20px 0 0 #a24a213a, -90px -110px 0 0 #a24a213a, -140px -30px 0 0 #a24a213a, -135px -40px 0 0 #a24a213a, -123px -10px 0 0 #a24a213a, -120px -90px 0 0 #a24a213a, -120px -100px 0 0 #a24a213a;
}

.land {
  position: absolute;
  background: black;
  z-index: -1;
  height: 0px;
  width: 200px;
  bottom: -25px;
  -webkit-box-shadow: -8px -8px 50px 25px rgba(157, 132, 105, 0.872);
          box-shadow: -8px -8px 50px 25px rgba(157, 132, 105, 0.872);
}
/*# sourceMappingURL=main.css.map */